<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button text=""></ion-menu-button>
    </ion-buttons>
    <ion-title>My Pickup calls</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <app-pickup-call-card
    status="hold"
    updateAt="25/04/2022 18:01"
    createdAt="23/04/2022 15:09"
    notes="We have 2 bags full, one with plastic and one with glass"
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="processing"
    updateAt="24/04/2022 18:01"
    createdAt="23/04/2022 15:09"
    notes="We have 2 bags full, one with plastic and one with glass"
  ></app-pickup-call-card>

  <app-pickup-call-card
    status="finnished"
    updateAt="27/04/2022 18:01"
    createdAt="23/04/2022 15:09"
    notes="We have 2 bags full, one with plastic and one with glass"
    value="200"
  ></app-pickup-call-card>
</ion-content>
