<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Pickup call</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="" />
  <ion-card>
    <ion-card-content>
      <p>Adress:Mercur 13</p>
      <p>Scara B, apartament 8, etaj 3</p>
      <p>Brasov, Brasov, Romania</p>
      <p>Zip code: 500439</p>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-list lines="inset">
      <ion-label position="floating">Note</ion-label>
      <ion-textarea></ion-textarea>
    </ion-list>
  </ion-card>
  <ion-button size="full" color="success">Creaza pick-up call</ion-button>
</ion-content>
